/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&family=Sarabun:wght@400;500&display=swap');

:root {
    --primary-color: #FF9AA2;
    /* Soft red */
    --secondary-color: #FFDAC1;
    /* Light peach */
    --background-color: #F3E9E1;
    /* Creamy white */
    --text-color: #333333;
    /* Dark gray */
}
h1 {
    font-size: 70px;
    font-family: 'Moirai One', cursive;
}
figure{
    margin-left: 0;
    margin-right: 0;
}

header {
    
    margin: 0;
    color: white;
    width: 100%;
    background-color: var(--primary-color);
    padding: 22px;
    background-image: url(./assets/candy-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Sarabun', sans-serif;
    ;
    background-color: #ffdbdb;

}

.image-gallery {
    width: 30%;

}

main {
    background-color: #ffe1e2;
    width: 800px;
    margin: auto;
    padding: 16px;
}

.home-img {
    width: 100%;
}

.home-video {
    width: 800px;
    height: 450px;
}

footer {
    background-color: #F786AA;
    margin: auto;
    padding: 16px;
    text-align: center;

}

.dolcezza{
    text-align: centers;
}

nav {
  
    background-color: #ff9aa2d3;
    padding: 20px;
    text-align: center;
}

nav a {
    display: inline-block;
    color: var(--background-color);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
    position: relative;
}

/* animazione */

/* nav a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
}

nav a:hover::before {
    transform: scaleX(1);
}

nav a.active::before {
    transform: scaleX(1);
} */